.step
	position relative
	display block
	height em(400)
	font-size 1rem
	background-image linear-gradient(to top, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%)
	border-radius em(4)

	+below($tiny)
		height em(240)

	&__container
		height inherit
		background-color #333
		background-repeat no-repeat
		background-size cover

		&_bg1
			background-image url('../images/bg-step1-lg.jpg')

			+below($large)
				background-image url('../images/bg-step1-md.jpg')

			+below($tiny)
				background-image url('../images/bg-step1-sm.jpg')

		&_bg2
			background-image url('../images/bg-step2-lg.jpg')

			+below($large)
				background-image url('../images/bg-step2-md.jpg')

			+below($tiny)
				background-image url('../images/bg-step2-sm.jpg')

		&_bg3
			background-image url('../images/bg-step3-lg.jpg')

			+below($large)
				background-image url('../images/bg-step3-md.jpg')

			+below($tiny)
				background-image url('../images/bg-step3-sm.jpg')

		&::after
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			content ''
			background-image linear-gradient(to top, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%)

	&__info
		position absolute
		z-index 5
		left 0
		bottom em(18)
		padding-x em(18)

	&__badge
		tracking(200)
		margin-bottom em(18, 10)
		padding-x em(13, 10)
		display inline-block
		height em(20, 10)
		font-family $Montserrat
		font-size em(10)
		font-weight 400
		line-height (20/10)
		text-align center
		text-transform uppercase
		color #fff
		background-color $ui-base-color
		border-radius em(10, 10)

	&__heading
		margin-bottom em(14, 24)
		font-family $Montserrat
		font-size em(24)
		font-weight 700
		line-height (27/24)
		color #fff

	&__desc
		font-family $Roboto
		font-size em(14)
		font-weight 300
		line-height (16/14)
		color #ccc



	/* for inner slick-slider */
	& .slick-list
		height inherit

	& .slick-track
		height inherit

	& .slick-slide
		height inherit

