.steps
	padding-top em(97)
	display block
	background-color #fff

	+below($tiny)
		padding-top em(37)

	&__wrapper
		wrapper()

		+below($large)
			wrapper(768px)

	&__heading
		margin-bottom em(36, 22)
		font-family $Montserrat
		font-size em(22)
		font-weight 700
		text-align center
		color #333

		+below($tiny)
			margin-bottom em(16, 22)

	&__list
		list-style none
		clearfix()

		+below($large)
			padding-x prc(10/768)

	&__step
		position relative
		margin-right prc(20/940)
		float left
		width prc(300/940)
		vertical-align top

		+below($large)
			margin-right prc(20/748)
			width prc(236/748)

		+below($tiny)
			margin-x auto
			margin-bottom em(10)
			display block
			float none
			width em(300)

		&:last-child
			margin-right 0

			+below($tiny)
				margin-right auto

	&__arrow
		position absolute
		top 38.5%
		width 35px
		height 55px
		cursor pointer

		+below($large)
			top 9.5%

		+below($tiny)
			display none

		&_prev
			left 19px
			transform rotate(180deg)

		&_next
			right 19px

	&__arrow-img
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		opacity .5
		fill #fff

		&:hover
			opacity 1
