/* Base font size */
$base-font-size = 16

/* Wrapper width */
$content-width = 940px

/* Color variables */
$ui-base-color = #ff4e50

/* Breakpoints */
$small = em(600)
$tiny = em(700)
$middle = em(768)
$large = em(960)
