/* allow automatic convert px to em */
rupture.enable-em-breakpoints = true

/* Base font size */
$base-font-size = 16

/* Wrapper width */
$content-width = 940px

/* Color variables */
$ui-base-color = #ff4e50

/* Breakpoints */
$small = 600px
$tiny = 700px
$middle = 768px
$large = 960px
