.partners
	padding-top em(98)
	padding-bottom em(30)
	display block
	text-align center
	background #fff

	+below($small)
		padding-top em(27)

	&__wrapper
		wrapper()

		+below($small)
			padding-x em(10)

	&__heading
		margin-bottom em(35, 22)
		font-family $Montserrat
		font-size em(22)
		font-weight 700
		color #333

		+below($small)
			margin-bottom em(15, 22)
			line-height (24/22)

	&__list
		margin-bottom em(37)
		overflow hidden
		list-style none
		clearfix()

		+below($large)
			margin-x auto
			max-width em(480)

		+below($small)
			margin-bottom em(24)
			max-width em(220)

	&__partner
		margin-right em(20)
		float left
		width em(220)

		+below($large)
			margin-right em(40)
			margin-bottom em(58)

		+below($small)
			margin-right 0
			margin-bottom em(30)

		&:nth-child(4n)
			margin-right 0

		&:nth-child(2n)

			+below($large)
				margin-right 0

		&:nth-last-child(1)
		&:nth-last-child(2)

			+between($small, $large)
				margin-bottom 0

		&:nth-last-child(1)
			+below($small)
				margin-bottom 0

	&__button
		position relative
		padding em(11, 14) em(30, 14) em(12, 14) em(28, 14)
		display inline-block
		font-family $Montserrat
		font-size em(14)
		font-weight 700
		text-decoration none
		color $ui-base-color
		background-color #fff
		border 2px solid $ui-base-color
		border-radius em(20, 14)

		+below($small)
			padding-x em(70, 14)

		&:hover
			color #fff
			background-color $ui-base-color

		&:active
			top 2px




