.partner
	display block
	text-align center

	&__avatar
		position relative
		margin-x auto
		margin-bottom em(18)
		width em(120)
		height em(120)

	&__image
		width 100%
		height auto
		border-radius 50%

	&__icon-bg
		position absolute
		right em(-5)
		bottom em(-4)
		display inline-block
		width em(40)
		height em(40)
		background-color $ui-base-color
		border em(4) solid #fff
		border-radius 50%

		&_cup
			background-color #1cd7ad

		&_flask
			background-color #ffa507

		&_airplane
			background-color #4e73db

	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		fill #fff

		&_tv
			size(em(16))

		&_cup
			size(em(16), em(15))

		&_flask
			size(em(11), em(16))

		&_airplane
			size(em(16), em(15))

	&__name
		margin-bottom 17px
		display block
		font-family $Montserrat
		font-size 14px
		font-weight 700
		color #333

	&__quote
		font-family $Roboto
		font-size 14px
		font-weight 300
		line-height (16/14)
		color #666


